/* 画面を広げても、レイアウトの内側を担保
Xのデザイン指定は幅1280px、両側40pxの余白 */

/* ブレークポイント */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	background: #000;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #333333;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 18px;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

.section {
	padding: 100px 0 120px;
}

.section-title {
	font-family: "Lato", sans-serif;
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 6px;
	position: relative;
	text-align: center;
}

.section-title::after {
	background: #3f51b5;
	bottom: 0;
	content: "";
	height: 4px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 60px;
}

/* header */

.header {
	background: #3f51b5;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
	height: 100px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.header_inner {
	align-items: center;
	display: flex;
	height: inherit;
}

.header_logo {
	width: 205px;
}

.header_logo img {
	display: block;
}

.header_nav {
	align-items: center;
	display: flex;
	font-family: "Lato", sans-serif;
	margin-left: auto;
}

.header_nav li:not(:first-child) {
	margin-left: 40px;
}

.header_nav li a {
	color: #fff;
	position: relative;
	text-decoration: none;
}

.header_nav li a::after {
	background: transparent;
	bottom: -8px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	transition: all 0.3s ease 0s;
	width: 100%;
}

.header_nav li a:hover::after,
.header_nav li a.is-active::after {
	background: #e81919;
}

/* main-visual */

.main-visual {
	background: url(../img/mainvisual.png) no-repeat center center/cover;
	height: 600px;
	margin-top: 100px;
	position: relative;
	width: 100%;
}

.main-visual_content {
	left: 50%; /*  上下中央の配置 */
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.main-visual_title {
	font-size: 64px;
	font-weight: bold;
	line-height: 1;
}

.main-visual_lead {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	margin-top: 32px;
}

.main_visual_button {
	margin-top: 40px;
}

.main_visual_button a {
	background-color: #3f51b5;
	border-radius: 12px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	color: #fff;
	display: inline-block;
	font-size: 24px;
	font-weight: 700px;
	height: 72px;
	line-height: 72px;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 384px;
}

.main_visual_button a:hover {
	opacity: 0.7;
}

.card {
	background: #efefef;
}

.card_items {
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
}

.card__item {
	background-color: #fff;
	border-radius: 4px;
	padding: 16px;
	width: calc(33.3% - 16px);
}

.card__item__img img {
	height: 195px;
	width: 100%;
}

.card__item__title {
	font-size: 20px;
	font-weight: 700;
	margin-top: 4px;
}

.card__item__text {
	font-weight: 700;
	line-height: 1.5;
	margin-top: 5px;
}

.news {
	background-color: #fff;
	padding: 100px 0 120px;
}

.news_items {
	margin: 80px auto 0;
	max-width: 100%;
	width: 800px;
}

.news-item {
	display: flex;
	padding: 20px 0 12px;
}

.news-item:not(:first-child) {
	border-top: 1px solid #707070;
}

.news-item__meta {
	display: flex;
	width: 185px;
}

.news-item__date {
	font-family: "Lato", sans-serif;
	padding-top: 3px;
	width: 105px;
}

.news-item__label a {
	background-color: #666666;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	height: 32px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 80px;
}

.news-item__label a:hover {
	opacity: 0.7;
}

.news-item__label a.is_blue {
	background: #3f51b5;
}

.news-item__label a.is_red {
	background: #e81919;
}

.news-item__title {
	line-height: 20px/16px;
	padding-left: 20px;
	padding-top: 4px;
	width: calc(100% - 185px);
}

.news-item__title a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.news-item__title a:hover {
	opacity: 0.7s;
}

.news_more {
	margin-top: 60px;
	text-align: center;
}

.news_more a {
	color: #e81919;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	padding-right: 14px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.news_more a:hover {
	opacity: 0.7s;
}

.news_more a::after {
	background: url(/img/news-arrow.png) no-repeat center center/contain;
	content: "";
	height: 14px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 7px;
}

.prise {
	background-color: #efefef;
}

.price_content {
	display: flex;
	margin-top: 80px;
}

.price_image {
	width: 37.8333333333%;
}

.price_table {
	margin-left: auto;
	width: 59%;
}

.price_table .price_attention {
	font-size: 14px;
	margin-top: 10px;
}

.price_table .price_attention a {
	font-weight: 700;
}

.price_table .table {
	background: #fff;
	border: 1px solid #707070;
	border-collapse: collapse;
	font-weight: 700;
	table-layout: fixed;
	width: 100%;
}

.price_table th,
.price_table td {
	border: 1px solid #707070;
	height: 58px;
	padding: 0 24px;
	vertical-align: middle;
}

.price_table th {
	background: #999999;
	color: #ffffff;
	font-family: "Lato", sans-serif;
	text-align: center;
}

.price_table th:nth-child(1) {
	width: 172px;
}

.price_table td {
	text-align: right;
}

.price_table strong {
	color: #e81919;
	line-height: 1.2;
}

.price_table span {
	display: block;
	font-size: 13px;
	line-height: 1.2;
	margin-top: 1px;
}

.access_map {
	margin: 80px auto 0;
	max-width: 100%;
	width: 800px;
}

.iframe-wrap {
	padding-top: 50%;
	position: relative;
	width: 100%;
}

.iframe-wrap iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.access_info {
	margin: 16px auto 0;
	max-width: 100%;
	width: 800px;
}

.access_info .access_info_row {
	align-items: center;
	display: flex;
}

.access_info .access_info_row:not(:first-child) {
	margin-top: 8px;
}

.access_info .access_info_row dt {
	font-weight: 700;
	margin: 0;
	padding: 0;
	width: 104px;
}

.access_info .access_info_row dd {
	margin: 0;
	padding: 0;
	width: calc(100% - 104px);
}

.access_button {
	text-align: center;
}

.access_button a {
	background: #3f51b5;
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin-top: 30px;
	padding: 16px 12px;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: 304px;
}

.access_button a:hover {
	opacity: 0.7;
}

.access_button a::after {
	background: url(/img/button-arrow.png) no-repeat center center/contain;
	content: "";
	height: 16px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	width: 17px;
}

.contact {
	background: #efefef;
}

.contact_form {
	background: #fff;
	margin: 80px auto 0;
	max-width: 100%;
	padding: 60px;
	width: 800px;
}

.contact-form-row {
	display: flex;
}

.contact-form-row:not(first-child) {
	margin-top: 60px;
}

.contact-form-label {
	margin: 0;
	padding: 5px 0 0;
	width: 160px;
}

.contact-form-label label {
	font-weight: 700;
}

.contact-form-label label.is-required {
	display: inline-block;
	position: relative;
}

.contact-form-label label.is-required::after {
	background: #e81919;
	border-radius: 4px;
	color: #fff;
	content: "必須";
	font-size: 14px;
	font-weight: 700;
	left: 0;
	line-height: 1;
	padding: 3px 8px;
	position: absolute;
	text-align: center;
	top: calc(100% + 2px);
}

.contact-form-input {
	margin: 0;
	padding: 0;
	width: calc(100% - 160px);
}

.contact-form-input [type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: 1px solid #707070;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	padding: 12px 16px;
	width: 100%;
}

.contact-form-input [type=email] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: 1px solid #707070;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	padding: 12px 16px;
	width: 100%;
}

.contact-form-input select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(/img/select-arrow.png) no-repeat right 12px center/17px 14px;
	border: 1px solid #707070;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	padding: 12px 16px;
	width: 100%;
}

.contact-form-input textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: 1px solid #707070;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: 14px;
	height: 240px;
	padding: 1px 16px;
	resize: none;
	width: 100%;
}

.contact-form-radio {
	margin-top: 32px;
}

.contact-form-radio [type=radio] {
	display: none;
}

.contact-form-radio span {
	display: inline-block;
	margin-right: 36px;
	padding-left: 26px;
	position: relative;
}

.contact-form-radio span::before {
	border: 1px solid #707070;
	border-radius: 50%;
	content: "";
	height: 20px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}

.contact-form-radio span::after {
	background: #3f51b5;
	border-radius: 50%;
	content: "";
	display: none;
	height: 10px;
	left: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

.contact-form-radio [type=radio]:checked + span::after {
	display: block;
}

.contact-form-check {
	margin-top: 63px;
	text-align: center;
}

.contact-form-check [type=checkbox] {
	display: none;
}

.contact-form-check span {
	display: inline-block;
	padding-left: 49px;
	position: relative;
}

.contact-form-check span::before {
	background: #fff;
	border: 1px solid #707070;
	content: "";
	height: 25px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
}

.contact-form-check span::after {
	background: url(/img/checkbox.png) no-repeat center center/contain;
	content: "";
	display: none;
	height: 25px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
}

.contact-form-check span a {
	font-weight: 700;
	transition: all 0.3s ease 0s;
}

.contact-form-check span a:hover {
	opacity: 0.7;
}

.contact-form-check [type=checkbox]:checked + span::after {
	display: block;
}

.contact-form-button {
	margin-top: 32px;
	text-align: center;
}

.contact-form-button [type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #3f51b5 url(/img/button-arrow.png) no-repeat right 12px center/17px 16px;
	border-radius: 8px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-weight: 700;
	padding: 20px;
	transition: all 0.3s ease 0s;
	width: 304px;
}

.contact-form-button [type=submit]:hover {
	opacity: 0.7;
}

.footer {
	background: linear-gradient(to bottom, #666666, #333333);
	color: #fff;
	padding: 60px 0 24px;
}

.footer-content {
	display: flex;
}

.footer-left {
	width: 36%;
}

.footer-logo img {
	width: 205px;
}

.footer-address,
.footer-tell {
	font-size: 14px;
}

.footer-address {
	margin-top: 32px;
}

.footer-tell {
	margin-top: 14px;
}

.footer-center {
	width: 48%;
}

.footer-nav {
	display: flex;
	font-family: "Lato", sans-serif;
}

.footer-nav li {
	text-decoration: none;
}

.footer-nav li:not(first-child) {
	margin-right: 40px;
}

.footer-nav li a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-nav li a:hover {
	opacity: 0.7;
}

.footer-right {
	width: 16%;
}

.footer-sns {
	display: flex;
	justify-content: flex-end;
}

.footer-sns li:not(first-child) {
	margin-left: 16px;
}

.footer-sns li a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-sns li a:hover {
	opacity: 0.7;
}

.footer-sns li img {
	width: 30px;
}

.footer-copy {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	margin-top: 46px;
	text-align: center;
}

.to-top {
	bottom: 24px;
	opacity: 0;
	position: fixed;
	right: 24px;
	transition: all 0.3 ease 0s;
	visibility: hidden;
}

.to-top.is-show {
	opacity: 1;
	visibility: visible;
}

.to-top a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.to-top a :hover {
	opacity: 0.7;
}

.to-top a img {
	width: 60px;
}

.swiper-button-next {
	background: transparent url(/img/arrow-next.png) no-repeat center center/contain;
	height: 40px;
	margin-top: -20px;
	right: calc(50% - 600px);
	width: 40px;
}

.swiper-button-next::after {
	display: none;
}

.swiper-button-prev {
	background: transparent url(/img/arrow-prev.png) no-repeat center center/contain;
	height: 40px;
	left: calc(50% - 600px);
	margin-top: -20px;
	width: 40px;
}

.swiper-button-prev::after {
	display: none;
}

.swiper-pagination-bullet {
	background: #fff;
	height: 16px;
	opacity: 1;
	width: 16px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bulle {
	margin-left: 8px;
	margin-right: 8px;
}

.swiper-pagination-bullet-active {
	background: #2f7dc8;
}

.drawer-icon {
	display: none;
	position: fixed;
	right: 16px;
	top: 20px;
	transition: transform 0.5s ease 0s;
	z-index: 300;
}

.drawer-icon.is-active {
	transform: translateX(-200px);
}

.drawer-icon.is-active .drawer-icon-bar1 {
	top: 8px;
	transform: rotate(45deg);
}

.drawer-icon.is-active .drawer-icon-bar2 {
	display: none;
}

.drawer-icon.is-active .drawer-icon-bar3 {
	top: 8px;
	transform: rotate(-45deg);
}

.drawer-icon-bars {
	display: block;
	height: 20px;
	position: relative;
	width: 22px;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
	background: #fff;
	height: 4px;
	left: 0;
	position: absolute;
	top: 0;
	width: 22px;
}

.drawer-icon-bar1 {
	top: 0;
}

.drawer-icon-bar2 {
	top: 8px;
}

.drawer-icon-bar3 {
	top: 16px;
}

.drawer-content {
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
	display: none;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	transition: transform 0.5s ease 0s;
	width: 200px;
	z-index: 299;
}

.drawer-content.is-active {
	display: block;
}

.drawer-icon-item {
	border-bottom: 1px dotted #000;
}

.drawer-icon-item a {
	color: #707070;
	display: block;
	padding: 20px;
	position: relative;
	text-decoration: none;
}

.drawer-icon-item a::after {
	background: url(/img/arrow-b.png) no-repeat center center/contain;
	content: "";
	height: 11px;
	position: absolute;
	right: 21px;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
}

.drawer-background {
	background: rgba(0, 0, 0, 0.8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 298;
}

.drawer-background.is-active {
	display: block;
}

.qa-inner {
	margin: 100px auto 120px;
}

.qa-items {
	margin: 80px auto 0;
	max-width: 100%;
	width: 900px;
}

.qa-item:nth-child(n+2) {
	margin-top: 24px;
}

.qa-box {
	border: 1px solid #3f51b5;
}

.qa-box__q {
	background: #3f51b5;
	color: #fff;
	font-weight: 700;
	padding: 12px 56px;
	position: relative;
}

.qa-box__q::before {
	content: "Q";
	left: 20px;
	position: absolute;
	top: 12px;
}

.qa-box__icon {
	height: 14px;
	position: absolute;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
}

.qa-box__icon.is-open .qa-box-ber2 {
	transform: rotate(90deg);
}

.qa-box__ber1 {
	background: #fff;
	border-radius: 20px;
	height: 2px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
}

.qa-box__ber2 {
	background: #fff;
	border-radius: 20px;
	height: 14px;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	transition: all 0.3s ease 0s;
	width: 2px;
}

.qa-box__a {
	background: #fff;
	color: #3f51b5;
	display: none;
	font-weight: 700;
	line-height: 1.5;
	padding: 16px 30px 16px 20px;
}

.qa-box__content {
	padding-left: 35px;
	position: relative;
}

.qa-box__content::before {
	content: "A";
	left: 0;
	position: absolute;
	top: 0;
}

.qa-q {
	background: #fff;
	color: #2f7dc8;
	font-weight: bold;
	padding: 12px 56px;
	position: relative;
}

.qa-q::before {
	background: skyblue;
	border-radius: 50%;
	content: "Q";
	left: 20px;
	padding: 3px 6px;
	position: absolute;
	top: 12px;
}

.qa-icon {
	height: 14px;
	position: absolute;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
}

.qa-icon.is-open .qa-ber2 {
	transform: rotate(90deg);
}

.qa-icon .qa-ber1 {
	background: #2f7dc8;
	border-radius: 20px;
	height: 2px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
}

.qa-icon .qa-ber2 {
	background: #2f7dc8;
	border-radius: 20px;
	height: 14px;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	transition: all 0.3s ease 0s;
	width: 2px;
}

.qa-a {
	background: #fff;
	display: none;
	padding: 16px 30px 13px 20px;
}

.qa-a-content {
	padding-left: 30px;
	position: relative;
}

.qa-a-content::before {
	content: "A";
	left: 0;
	position: absolute;
	top: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

.card__item {
	width: calc(50% - 12px);
}

.card__item:not(:nth-child(2n+1)) {
	margin-left: 24px;
}

.card__item:nth-child(n+3) {
	margin-top: 24px;
}

.swiper-button-next {
	right: 10px;
}

.swiper-button-prev {
	left: 10px;
}

}

@media (min-width: 1200px) {

.card__item:not(:nth-child(3n+1)) {
	margin-left: 24px;
}

.card__item:nth-child(n+4) {
	margin-top: 24px;
}

}

@media (max-width: 767px) {

.inner {
	padding-left: 16px;
	padding-right: 16px;
}

.section {
	padding-bottom: 60px;
	padding-top: 50px;
}

.section-title::after {
	height: 3px;
	width: 42px;
}

.section-title {
	font-size: 28px;
	padding-bottom: 18px;
}

.header {
	height: 60px;
}

.header_logo img {
	width: 182px;
}

.header_nav {
	display: none;
}

.main-visual {
	height: 420px;
	margin-top: 60px;
}

.main-visual_content {
	padding-left: 46px;
	padding-right: 46px;
}

.main-visual_title {
	font-size: 32px;
}

.main-visual_lead {
	font-size: 18px;
	margin-top: 10px;
}

.main_visual_button a {
	height: 60px;
	line-height: 60px;
	width: 280px;
}

.card_items {
	margin-top: 42px;
}

.card__item {
	margin-left: 0;
	width: 100%;
}

.card__item:nth-child(n+2) {
	margin-top: 24px;
}

.news {
	padding-top: 40px;
}

.news_items {
	margin-top: 40px;
}

.news-item {
	display: block;
}

.news-item__title {
	margin-top: 6px;
	padding-top: 0;
	width: 100%;
}

.news_more {
	margin-top: 30px;
}

.price_content {
	display: block;
	margin-top: 40px;
}

.price_image {
	width: 100%;
}

.price_table {
	margin-top: 24px;
	width: 100%;
}

.price_table th:nth-child(1) {
	width: 112px;
}

.contact_form {
	margin-top: 40px;
	padding: 24px;
}

.contact-form-row:not(first-child) {
	margin-top: 30px;
}

.contact-form-row {
	display: block;
}

.contact-form-label {
	width: 100%;
}

.contact-form-label label.is-required::after {
	left: calc(100% + 6px);
	top: 50%;
	transform: translateY(-50%);
	width: 44px;
}

.contact-form-input {
	margin-top: 5px;
	width: 100%;
}

.contact-form-radio {
	margin-top: 15px;
}

.contact-form-radio span {
	margin-bottom: 8px;
	margin-right: 20px;
}

.contact-form-check {
	margin-top: 30px;
}

.footer {
	padding-bottom: 12px;
	padding-top: 30px;
}

.footer-content {
	display: block;
}

.footer-left {
	width: 100%;
}

.footer-address {
	margin-top: 16px;
}

.footer-tell {
	margin-top: 7px;
}

.footer-center {
	margin-top: 24px;
	width: 100%;
}

.footer-nav li:not(first-child) {
	margin-right: 20px;
}

.footer-right {
	width: 100%;
}

.footer-sns {
	justify-content: center;
	margin-top: 24px;
}

.footer-copy {
	margin-top: 23px;
}

.to-top {
	bottom: 12px;
	right: 12px;
}

.to-top a img {
	width: 40px;
}

.swiper-button-next {
	right: 10px;
}

.swiper-button-prev {
	left: 10px;
}

.drawer-icon {
	display: block;
}

}

